/*Page styling starts here*/

body{
	font-family: Helvetica, Arial, sans-serif;
}

*{
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div{
	background-color: #999999;
	border: 1px solid black;
}

body>div{
	position: relative;
}

h1 {
  text-align: center;
   margin: 20px;
   font-size: 30px;
}

.heading{
	border-width: 0 0 1px 1px;
	width: 200px;
	padding: 3px;
	text-align: center;
	position: absolute;
	right: 0;
}

p{
	margin-top: 45px;
	padding: 10px;
}

/*******Color section headings**********/

div:nth-child(2)>.heading{
	background-color: #D59898;
}


div:nth-child(3)>.heading{

	background-color: #C14543;
	color: #ffffff;
}

div:nth-child(4)>.heading{
	background-color: #E5D198;
}


/***************Large device view****************/
@media (min-width: 992px){
	.col-lg-4{
		width: 32%;
		float: left;
		margin: 45px 0 15px 1%;
	}
}


		
/***************Medium device view****************/
@media(min-width: 768px) and (max-width: 991px){
	
	.col-md-6{
		width: 47.75%;
		margin: 30px 0 15px  1.5%;
		float: left;
	}

	.col-md-12{
		width: 97%;
		margin: 15px 1.5% 15px 1.5%;
		clear: left;
	}

}

/***************Small device view****************/

@media(max-width: 767px){
	.col-sm-12 {
    width: 97%;
    margin: 15px 2% ;
  }
}

	
